.ant-card {
  cursor: pointer;
}
.selected-plan.ant-card-bordered,
.ant-card:hover{
  -webkit-box-shadow: 0px 0px 1px 1px #2196F3;
  -moz-box-shadow: 0px 0px 1px 1px #2196F3;
  box-shadow: 0px 0px 1px 1px #2196F3;
}